<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>過去のARC/ABC問題の難易度推定</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>過去のARC/ABC問題の難易度推定</h1>
      </div>
      <p><a href="estimated_scores.csv">CSVデータ</a></p>

      <table class='table table-condensed' id='main'>
      <thead>
        <tr>
          <th>コンテスト</th>
          <th>番号</th>
          <th>推定</th>
          <th>問題名</th>
        </tr>
      </thead>
      <tbody>
        {% for task, title, pid, guessed_score in results %}
          <tr>
            {% if task.symbol == 'A' %}
            <td rowspan='4'>{{ task.contest_id|upper }}</td>
            {% endif %}
            <td>{{ task.symbol }}</td>
            <td>{{ (guessed_score / 100)|round|int }}</td>
            <td><a href="https://{{ task.contest_id }}.contest.atcoder.jp/tasks/{{ task.path }}">{{ title }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
