{% extends "layout.jinja2" %}

{% block body %}
	<h1>AtCoder Statistics</h1>
	<div class="table-responsive">
		<table class="table table-dark">
			<thead class="thead-dark">
				<tr>
					<th scope="col">rank</th>
					<th scope="col">handle</th>
					{% for task in tasks %}
						<th scope="col">{{ task.symbol }}<br />{{ task.problem.title }}</th>
					{% endfor %}
					<th scope="col">score</th>
				</tr>
			</thead>
			<tbody>
				{% for user_id in user_ids %}
					<tr>
						<td>{{ loop.index }}</td>
						<td class="handle">{{ user_id }}</td>
						{% for task in tasks %}
							{% set r = result_hash[(user_id, task.problem_id)] %}
							{% if r %}
								<td>{{ r.score // 100 }}{% if r.failure %} <span class="failure">({{ r.failure }})</span>{% endif %}
								<br />{{ r.formatted_elapsed() }}</td>
							{% else %}
								<td>-</td>
						{% endif %}
						{% endfor %}
						<td>TODO</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}